<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Wish App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/email.js') }}"></script>

    </head>
    
    <body>
        <div class="nav-bar">
            <a href= "/wishes">>Dashboard</a>
            <a href="/logout">Logout</a> 
        </div>
        <div class="container register-form">
            <div class="form">
                <div class = "note">
                    <h3>Welcome to My Wish Page</h3>
                </div>
                <p><b>{{user["first_name"]}} {{user["last_name"]}} wishes for:</b></p>
        <form action="/users/{{user.id}}" method="POST">
            {% for wish in wishes %}
            <div>
                <p>"{{wish["wish_content"]}}"</p>
            </div>   
            {% endfor %}
        </form>
        
         
        </div>
        </div>
    </body>
</html>